.submit__form {
  /* justify-content: space-between; */
  /* margin-left: 5px;
  margin-top: 5px;
  border-radius: 0.25rem;
  padding: 10px;
  border: 1px;
  line-height: 1.2; */

}

.search__text {
  /* justify-content: space-between; */
  /* width: auto;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 0.25rem;
  border: 1px solid #aca9a9;
  padding: 0.375rem 1.95rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000c7;
  background-color: rgb(245, 245, 245);
  border-color:     rgb(223, 236, 218);
  line-height: 1.2; */


}

.form__select:focus {
  /* outline: 0;
  border-color:     rgb(223, 236, 218);
  box-shadow: 0 0 0 0.25rem rgb(223, 236, 218); */
}


.search__text :focus {
  /* outline: 0;
  border-color:     rgb(223, 236, 218);
  box-shadow: 0 0 0 0.25rem rgb(223, 236, 218); */
}

.form__select {
  display: flex;
  width: 100%;
  padding: 0.375rem 1.95rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000c7;
  background-color: rgb(245, 245, 245);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.95rem center;
  background-size: 16px 12px;
  border-radius: 0.25rem;
  appearance: none;
  border-color: rgb(223, 236, 218);

}



.form__master >form {

}

.input__search {
  
}

.submit__form {
  justify-content: space-between;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 0.25rem;
  padding: 10px;
  border: 1px;
  line-height: 1.2;

}

.search__text {
  justify-content: space-between;
  width: auto;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 0.25rem;
  border: 1px solid #aca9a9;
  padding: 0.375rem 1.95rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000c7;
  background-color: rgb(245, 245, 245);
  border-color:     rgb(223, 236, 218);
  line-height: 1.2;


}

.form__select:focus {
  outline: 0;
  border-color:     rgb(223, 236, 218);
  box-shadow: 0 0 0 0.25rem rgb(223, 236, 218);
}


.search__text > input :focus {
  outline: 0;
  border-color:     rgb(223, 236, 218);
  box-shadow: 0 0 0 0.25rem rgb(223, 236, 218);
}

.form__select > input {
  display: flex; 
  width: 100%;
  padding: 0.375rem 1.95rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000c7;
  background-color: rgb(245, 245, 245);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.95rem center;
  background-size: 16px 12px;
  border-radius: 0.25rem;
  appearance: none;
  border-color: rgb(223, 236, 218);

}

.form__select  {
  display: flex; 
  width: 100%;
  padding: 0.375rem 1.95rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000c7;
  background-color: rgb(245, 245, 245);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.95rem center;
  background-size: 16px 12px;
  border-radius: 0.25rem;
  appearance: none;
  border-color: rgb(223, 236, 218);

}

